*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	height: 250px;
	width: 100%;
    top: 0%;
	background-color: #00AAC1;
    color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}
body{
    background-color: #00AAC1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
	height: 80px;
	width: 100%;
	position: fixed;
	bottom: 0%;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #00AAC1;
    color: #fff;
}
.hr{
    background-color: #fff;
    height: 1px;
    width: 90%;
}
h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Raleway;
    font-weight: 700;
    word-wrap: break-word;
}
p{
    color: white;
    font-size: 20px;
    font-family: Raleway;
    word-wrap: break-word;
}
a{
    width: 256px;
    height: 56px;
    margin-top: 30px;
    background: #00AAC1;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.inscription{
    width: 450px;
    height: 450px;
    background-color: #fff;
    color: #00AAC1;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    margin: 20px;
}
input{
    margin: 10px;
    padding: 8px;
    width: 95%;
    border-radius: 30px;
    border: 1px solid #00AAC1;
    color: #00AAC1;
}
.line{
    display: flex;
    flex-direction: row;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
::placeholder{
    color: #00AAC1;
}
.add{
    position: relative;
    top: 0px;
    left: 80%;
}